.pretext {
    white-space: break-spaces;
    overflow-wrap: anywhere;
    position: relative;
}

.space::before {
    content: "\00B7";
    position: absolute;
    color: #888;
}

.linebreak::before {
    content: "\21B5";
    position: absolute;
    color: #888;
}

.tab {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="20"><path stroke="%23888" stroke-width="1" fill="none" d="M1 10H196L190 5M190 15L196 10M197 4L197 16"/></svg>');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}