.app-root {
    /* 画面の高さ: 100% - header - padding */
    height: calc(100vh - 56px - 32px);
    font-family: 'Consolas';

    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 5px;
}

.tab {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    height: 100%;
}

.tab-content {
    border-bottom: 1px solid #555555;
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
}
